# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Customized
.*.swp
*~
*.sample
ale/liblocal/SDL*
rl_env/CMakeFiles/*
rl_env/*.cmake
rl_env/Makefile
rl_common/CMakeFiles/*
rl_common/*.cmake
rl_common/Makefile
rl_agent/CMakeFiles/*
rl_agent/*.cmake
rl_agent/Makefile
CMakeFiles/*
CMakeCache.txt
experiment
cmake_install.cmake
Makefile
